/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
*{
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
}

.header {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    background-color: #f87060;
}
  
  .header:before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    height: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

.header-contents{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.search{
    padding-top: 15px;
    padding-left: 15px;
}

#search-bar{
    width: 75%;
    height: 36px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 14px;
    color: #333333;
    transition: box-shadow 0.3s, background-color 0.3s;
}

#search-bar:focus {
    box-shadow: 0 0 10px #db7267;
    border: 3px solid #cdd7d6;
    outline: none;
  }

.controls{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    align-items: center;
    gap: 10px;
}

.header-button{
    width: 75%;
    height: 30px;
    border: none;
    color: #ffffff;
    background-color: #102542;
    border-radius: 15px;
}

.header-button:hover {
    background-color: #183a68;
  }

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    background-color: #102542;
    display: grid;
}

.sidebar-button {
    font-size: 16px;
    width: 100%;
    height: 40px;
    border: none;
    color: #ffffff;
    background-color: #102542;
}

.sidebar-button:hover{
    background-color: #183a68;
}

.icon {
    vertical-align: text-bottom;
  }

.icon-logo {
    vertical-align: top;
  }

  .logo-container{
    display: grid;
    justify-items: center; 
  }

.logo {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 40px;
    padding-top: 15px;
    color: #ffffff;
    vertical-align: middle;
}

@media (max-width: 1024px) {
    .icon-logo {
      display: none; /* Hide the text when the screen size is smaller than 768px */
    }
  }

.menu1, .menu2 {
    display: grid;
    grid-auto-rows: min-content;
    position: relative;
    top: -100px;
    
}

.body {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 7;
    background-color: #cdd7d6;
    display: grid;
    grid-template-columns: 1fr 1fr .75fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
}

.projects {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.item {
    position: relative;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: #f87060;
  }
  
  .item-inner {
    position: relative;
    margin-left: 10px;
  }
  
  .item-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    height: 100%;
    width: 10px;
    background-color: #f87060;
    border-radius: 10px 0 0 10px;
  }

.info {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.info-item{
    position: relative;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
};