/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
}

.header {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    background-color: #f87060;
    z-index: 2;
}

.header:before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    height: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header-contents {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.search {
    padding-top: 15px;
    padding-left: 15px;
}

#search-bar {
    width: 75%;
    height: 36px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 14px;
    color: #333333;
    transition: box-shadow 0.3s, background-color 0.3s;
}

#search-bar:focus {
    box-shadow: 0 0 10px #db7267;
    border: 3px solid #cdd7d6;
    outline: none;
}

.user {
    display: grid;
    grid-template-columns: 1fr .4fr .8fr;
    justify-items: end;
    align-items: center;
    padding-right: 25px;
    gap: 5px;
}

.user-name {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
}

.welcome-slogan {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
    padding-bottom: 15px;
    padding-left: 15px;
    gap: 5px;
}

.circle-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.circle-image2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    align-items: center;
    gap: 10px;
    padding-right: 15px;
}

.header-button {
    width: clamp(50px, 75%, 100%);
    height: 30px;
    border: none;
    color: #ffffff;
    background-color: #102542;
    border-radius: 15px;
}

.header-button:hover {
    background-color: #183a68;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    background-color: #102542;
    display: grid;
}

.sidebar-button {
    font-size: 16px;
    width: 100%;
    height: 40px;
    border: none;
    color: #ffffff;
    background-color: #102542;
}

.sidebar-button:hover {
    background-color: #183a68;
}

.icon {
    vertical-align: text-bottom;
}

.icon-logo {
    vertical-align: top;
}

.logo-container {
    display: grid;
    justify-items: center;
}

.logo {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 120px;
    padding-top: 15px;
    color: #ffffff;
    vertical-align: middle;
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
}

@media (max-width: 1024px) {
    .logo-text {
        display: none;
        /* Hide the text when the screen size is smaller than 768px */
    }
}

@media (max-width: 665px) {
    .welcome-slogan {
        font-size: 14px;
    }

    .user-name {
        font-size: 10px;
    }
}

.menu1,
.menu2 {
    display: grid;
    grid-auto-rows: min-content;
    position: relative;
    top: -100px;

}

.body {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 7;
    background-color: #cdd7d6;
    display: grid;
    grid-template-columns: 1fr 1fr .75fr;
    grid-template-rows: .1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
    padding-top: 25px;
    overflow: auto;
    z-index: 1;

}

.body-titles {
    font-size: 16px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: #102542;

}

.projects {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;

}

.item {
    position: relative;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .3fr;
    align-items: center;
    gap: 10px;
}

.item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: #f87060;
}

.item-inner {
    position: relative;
    margin-left: 10px;
}

.item-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    height: 100%;
    width: 10px;
    background-color: #f87060;
    border-radius: 10px 0 0 10px;
}

.item-text {
    padding-left: 5px;
    padding-right: 5px;
}

.item-text-slogan {
    font-size: 14px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: #102542;
}

.item-text-body {
    font-size: 12px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #102542;
}

.item-buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(30px, 50px));
    justify-self: end;
}



.info {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .01fr 1fr;
    gap: 15px;
}

.info-item {
    position: relative;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 10px;

}

.announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.announcement-title {
    font-size: 12px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: #102542;
}

.announcement-text {
    font-size: 12px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #102542;
}

.trending {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.trending-item {
    display: grid;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 10px;
    color: #102542;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: 5px;
}

.circle-image-trend {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}